/JavaFXApplication3/nbproject/private/
/Preloader/nbproject/private/
/EsiLataaja/nbproject/private/
/ShakkiPeli/nbproject/private/
/ShakkiPeli-Preloader/nbproject/private/
/ShakkiPeli/build/
/ShakkiPeli-Preloader/build/
/ShakkiPeli-Preloader/dist/
/ShakkiPeli/dist/